@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400');
@import url('https://fonts.googleapis.com/css?family=Raleway:100,200');

$steel: #3579A3;
$powder: #EDF6F8;
$turquoise: #58C5DF;
$lightblue: #B9DAE9;

$font1: 'Raleway', sans-serif;
$font2: 'Roboto Condensed', sans-serif;

body {
  font-family: $font1;
  background: #EDF6F8; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(60deg, #EDF6F8, #3579A3); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(60deg, #EDF6F8, #3579A3); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(60deg, #EDF6F8, #3579A3); /* For Firefox 3.6 to 15 */
  background: linear-gradient(60deg, #EDF6F8, #3579A3); /* Standard syntax */
  height: 100vh;
  width: 100vw;
  .card {
    padding: 0;
    position: relative;
    margin: auto;
    background-color: #fff;
    border-radius: 6px 6px 12px 12px;
    border: transparent;
    box-shadow: 0px 4px 4px rgba(51,121,163,.1);
    .picture {
      background-image: url('../assets/ocean.jpg');
      background-size: cover;
      background-position: center;
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
      height: 15rem;
    }
    .info {
      text-align: center;
      padding: 1rem 0;
      h1 {
        margin-top: 1.75rem;
        font-size: 1.85rem;
        color: #464a4c;
      }
      h3 {
        font-size: 1.15rem;
        margin-top: 1.25vw;
        font-weight: 100;
        color: #8797A1;
      }
      .icons {
        margin: 3rem auto 0;
        ul {
          border-top: 1px solid $powder;
          padding: 1.5rem 0 .5rem;
          margin-bottom: 0;
          li {
            display: inline-block;
            list-style: none;
            a {
              svg {
                transition: .5s;
                fill: #8797A1;
                width: 2rem;
              }
              svg:hover {
                fill: $steel;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .info {
    h3 {
      font-size: 1rem !important;
    }
  }
}
