@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400');
@import url('https://fonts.googleapis.com/css?family=Raleway:100,200');

$steel: #3579A3;
$powder: #EDF6F8;
$turquoise: #58C5DF;
$lightblue: #B9DAE9;

$font1: 'Raleway', sans-serif;
$font2: 'Roboto Condensed', sans-serif;

body {
  font-family: $font1;
  background: #EDF6F8; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(60deg, #EDF6F8, #3579A3); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(60deg, #EDF6F8, #3579A3); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(60deg, #EDF6F8, #3579A3); /* For Firefox 3.6 to 15 */
  background: linear-gradient(60deg, #EDF6F8, #3579A3); /* Standard syntax */
  height: 100vh;
  width: 100vw;
  .card {
    position: relative;
    margin: auto;
    top: 10%;
    width: 475px;
    height: 80%;
    background-color: #fff;
    border-radius: 12px;
    border: transparent;
    box-shadow: 0px 4px 4px rgba(51,121,163,.1);
    .picture {
      background-image: url('../assets/ocean.jpg');
      background-size: cover;
      border-top-left-radius: 12px;
      border-top-right-radius: 12px;
      height: 50%;
    }
    .info {
      text-align: center;
      h1 {
        font-size: 32px;
        margin-top: 10%;
        color: #464a4c;
      }
      h3 {
        font-size: 18px;
        margin-top: 5%;
        font-weight: 100;
        color: #8797A1;
      }
      .icons {
        height: 40%;
        ul {
          border-top: .5px solid $powder;
          margin: 10% 30px 0 30px;
          padding: 30px 0 0 0;
          li {
            display: inline-block;
            list-style: none;
            a {
              svg {
                transition: .5s;
                fill: #8797A1;
                width: 40px;
              }
              svg:hover {
                fill: $steel;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {
  body {
    .card {
      width: 325px;
      height: 65%;
      top: 17.5%;
      .info {
        .icons {
          ul {
            padding: 20px 0 0 0;
          }
        }
      }
    }
  }
}

@media screen and (max-height: 414px) {
  body {
    .card {
      width: 315px;
      height: 90%;
      top: 5%;
      .info {
        h1 {
          font-size: 25px;
        }
        h3 {
          font-size: 12px;
        }
        .icons {
          ul {
            margin: 8% 30px 0 30px;
            padding: 10px 0 0 0;
            li {
              a {
                svg {
                  width: 30px;
                }
              }
            }
          }
        }
      }
    }
  }
}
